nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 400;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: rgb(253, 110, 10);
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;

}

.dark-2 {
    color: rgb(71, 71, 71);
}

.btn {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    font-weight: bolder;
    padding: 18px 35px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    border: none;

}

nav ul {
    display: flex;
    align-items: center;
}

.banner-head {
    font-weight: 600;
    font-size: 45px;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}
.banner-img{
    width: 580px;

}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.header{
    background-image: url(/images/developer.png), url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}